.product-card {
  width: 480px;

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

  .card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img{
      box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 1px solid #000;
      border-radius: 12px;
    }

    p{
      padding-left: 10px;
    }
  }
}

.product-detais {
  max-width: 1600px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  .product-image {
    display: flex;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #000;
    border-radius: 12px;
    img{
      width: 400px;
      border-radius: 12px;
    }
    &-small{
      display: flex;
      box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 1px solid #000;
      img{
        width: 150px;
      }
    }
  }

  .product-contents {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
  }
  .cart-actions {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 680px;
  }
}
