<ng-container *ngIf="showDetails else listView">
  <div class="product-detais">
    <div class="product-image">
      <img [src]="productImage" [alt]="productImageAlt">
    </div>
    <div class="product-contents">
      <h1>{{product.name}}</h1>
      <p>{{product.content}}</p>
    </div>
    <div class="actions">
      <label for="productQuantity">Quantity</label>
      <input id="productQuantity" type="number" (change)="increaseProductCounter()">
      <button mat-flat-button color="primary" (click)="addToCart()">Add to cart
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>

  </div>
</ng-container>
<ng-template #listView>
  <mat-card class="product-card" (click)="goToDetails()" >
    <mat-card-title>{{product.name}}</mat-card-title>
    <img mat-card-lg-image [src]="productImage" [alt]="productImageAlt">
    <mat-card-content>
      <p>{{product.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="primary" aria-label="Add to cart button with cart icon" (click)="openCartDialog($event)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
